@{ 
    ViewBag.title = "add ToDo";
}
<form method="post">
    <input type="text" name="toDo" value="" placeholder="ToDo" />
    <input type="number" name="prio" value=""  placeholder="Todo"/>
    
    <input type="submit" value="save"/>
</form>

